
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home/Index</h1>
<hr />
<br />
<a href="~/Doctor/Index">Doctors</a>
<a href="~/Patient/Index">Patients</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

